In [1]:
import pandas as pd
import numpy as np
import sqlalchemy as sql

In [381]:
from sqlalchemy import create_engine
conn_url = 'postgresql://postgres:123@localhost/Flights_Carriers'

In [382]:
engine = create_engine(conn_url)

In [383]:
connection = engine.connect()

In [224]:
stmt = """ 

CREATE TABLE cities (
	city_id serial,
	city_market_id int,
	city_name varchar(100) NOT NULL,
	state varchar(5) NOT NULL,
	PRIMARY KEY (city_id)
);

CREATE TABLE airports (
	airport_id serial,
	airport_abrv varchar(5),
	city_id int NOT NULL,
	PRIMARY KEY (airport_id),
	FOREIGN KEY (city_id) REFERENCES cities (city_id)
);

CREATE TABLE carriers (
	carrier_id serial,
	carrier_abrv varchar(10) UNIQUE,
	PRIMARY KEY (carrier_id)
);

CREATE TABLE planes(
	tail_num varchar(50),
	carrier_id int NOT NULL,
	PRIMARY KEY (tail_num),
	FOREIGN KEY (carrier_id) REFERENCES carriers (carrier_id)
);

CREATE TABLE scheduled_flights(
	flight_id serial,
	fl_date date,
	crs_dep_time int,
	crs_arr_time int,
	PRIMARY KEY (flight_id)
);

CREATE TABLE fare_classes (
	fare_class varchar(2),
	class_description varchar(100),
	PRIMARY KEY (fare_class)
);

CREATE TABLE ticket_fares (
	itin_id numeric(12,0),
	carrier_id int,
	itin_fare numeric(8,2) NOT NULL,
	fare_class varchar(2),
	distance numeric(10,2),
	passengers integer NOT NULL,
	PRIMARY KEY (itin_id),
	FOREIGN KEY (carrier_id) REFERENCES carriers (carrier_id),
	FOREIGN KEY (fare_class) REFERENCES fare_classes(fare_class)
);

CREATE TABLE departing_flights(
	flight_id int,
	airport_id int NOT NULL,
	dep_time int NOT NULL,
	PRIMARY KEY (flight_id,airport_id),
	FOREIGN KEY (airport_id) REFERENCES airports (airport_id),
	FOREIGN KEY (airport_id) REFERENCES airports(airport_id)
);

CREATE TABLE arriving_flights(
	flight_id int,
	airport_id int NOT NULL,
	arr_time int NOT NULL,
	PRIMARY KEY (flight_id,airport_id),
	FOREIGN KEY (airport_id) REFERENCES airports (airport_id),
	FOREIGN KEY (flight_id) REFERENCES scheduled_flights (flight_id)
);

CREATE TABLE flight_times(
	flight_id int,
	tail_num varchar(50),
	actual_elapsed_time integer NOT NULL,
	air_time integer,
	PRIMARY KEY (flight_id,tail_num),
	FOREIGN KEY (flight_id) REFERENCES scheduled_flights(flight_id),
	FOREIGN KEY (tail_num) REFERENCES planes (tail_num)
);

CREATE TABLE delay_groups(
	delay_group serial,
	group_description varchar(50),
	PRIMARY KEY (delay_group)
);

CREATE TABLE delayed_flights(
	flight_id int,
	status varchar(30),
	delay_group int,
	PRIMARY KEY (flight_id,status),
	FOREIGN KEY (flight_id) REFERENCES scheduled_flights(flight_id),
	FOREIGN KEY (delay_group) REFERENCES delay_groups(delay_group)
);

CREATE TABLE delayed_causes_mins(
	flight_id int,
	total_delay int,
	weather_delay int,
	security_delay int,
	late_aircraft_delay int,
	nas_delay int,
	carrier_delay int,
	PRIMARY KEY (flight_id,total_delay),
	FOREIGN KEY (flight_id) REFERENCES scheduled_flights(flight_id)
);

CREATE TABLE cancellation_codes(
	cancellation_code varchar(5),
	description varchar(50) NOT NULL,
	PRIMARY KEY (cancellation_code)
);

CREATE TABLE cancelled_flights(
	flight_id int,
	cancelled int NOT NULL,
	cancellation_code varchar(5) NOT NULL,
	PRIMARY KEY (flight_id,cancelled),
	FOREIGN KEY (flight_id) REFERENCES scheduled_flights (flight_id),
	FOREIGN KEY (cancellation_code) REFERENCES cancellation_codes(cancellation_code)
);

"""

In [225]:
connection.execute(stmt)

In [529]:
df = pd.read_csv('/Users/amandalilly/Desktop/SQL/Group Project/CSVs/547342837_T_ONTIME_REPORTING.csv')

In [4]:
df.columns

Index(['FL_DATE', 'OP_CARRIER_AIRLINE_ID', 'OP_CARRIER', 'TAIL_NUM',
       'OP_CARRIER_FL_NUM', 'ORIGIN_AIRPORT_ID', 'ORIGIN_CITY_MARKET_ID',
       'ORIGIN', 'ORIGIN_CITY_NAME', 'ORIGIN_STATE_ABR', 'DEST_AIRPORT_ID',
       'DEST_CITY_MARKET_ID', 'DEST', 'DEST_CITY_NAME', 'DEST_STATE_ABR',
       'CRS_DEP_TIME', 'DEP_TIME', 'DEP_DELAY', 'DEP_DELAY_GROUP',
       'CRS_ARR_TIME', 'ARR_TIME', 'ARR_DELAY', 'ARR_DELAY_GROUP', 'CANCELLED',
       'CANCELLATION_CODE', 'CRS_ELAPSED_TIME', 'ACTUAL_ELAPSED_TIME',
       'AIR_TIME', 'DISTANCE', 'DISTANCE_GROUP', 'CARRIER_DELAY',
       'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY',
       'Unnamed: 35'],
      dtype='object')

In [226]:
df.columns = df.columns.str.lower()

In [231]:
df = df.drop('unnamed: 35',axis=1)
df.head()

,fl_date,carrier_id,carrier_name,tail_num,fl_num,origin_airport_id,origin_city_market_id,origin,origin_city_name,origin_state_nm,dest_airport_id,dest_city_market_id,dest,dest_city_name,dest_state_nm,crs_dep_time,dep_time,dep_delay,dep_delay_group,crs_arr_time,arr_time,arr_delay,delay_group,cancelled,cancellation_code,crs_elapsed_time,actual_elapsed_time,air_time,distance,distance_group,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2020-01-01,19393,WN,N951WN,5888,13891,32575,ONT,"Ontario, CA",CA,14771,32457,SFO,"San Francisco, CA",CA,1810,1851,41,2,1945,2053,68,4,0,Z,95,122,74,363,2,8,0,27,0,33
1,2020-01-01,19393,WN,N467WN,6276,13891,32575,ONT,"Ontario, CA",CA,14771,32457,SFO,"San Francisco, CA",CA,1150,1146,-4,-1,1320,1318,-2,-1,0,Z,90,92,71,363,2,0,0,0,0,0
2,2020-01-01,19393,WN,N7885A,4598,13891,32575,ONT,"Ontario, CA",CA,14831,32457,SJC,"San Jose, CA",CA,2020,2016,-4,-1,2130,2124,-6,-1,0,Z,70,68,57,333,2,0,0,0,0,0
3,2020-01-01,19393,WN,N551WN,4761,13891,32575,ONT,"Ontario, CA",CA,14831,32457,SJC,"San Jose, CA",CA,1340,1350,10,0,1455,1505,10,0,0,Z,75,75,63,333,2,0,0,0,0,0
4,2020-01-01,19393,WN,N968WN,5162,13891,32575,ONT,"Ontario, CA",CA,14831,32457,SJC,"San Jose, CA",CA,915,916,1,0,1035,1023,-12,-1,0,Z,80,67,57,333,2,0,0,0,0,0

In [457]:
df2=df2.rename(columns={'arr_delay_group':'delay_group'})
df2.head(3)

,fl_date,flight_id,carrier_id,carrier_abrv,tail_num,fl_num,airport_id,city_id,city_market_id,airport_abrv,city_name,state,crs_dep_time,dep_time,dep_delay,dep_delay_group,crs_arr_time,arr_time,arr_delay,delay_group,cancelled,cancellation_code,crs_elapsed_time,actual_elapsed_time,air_time,distance,distance_group,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,origin_status,status
0,2020-01-01,1,19393,WN,N951WN,5888,13891,1,32575,ONT,Ontario,CA,1810,1851,41,2,1945,2053,68,4,0,Z,95,122,74,363,2,8,0,27,0,33,Origin,delayed
1,2020-01-01,12062,19393,WN,N467WN,6276,13891,1,32575,ONT,Ontario,CA,1150,1146,-4,-1,1320,1318,-2,-1,0,Z,90,92,71,363,2,0,0,0,0,0,Origin,on-time
2,2020-01-01,12061,19393,WN,N7885A,4598,13891,1,32575,ONT,Ontario,CA,2020,2016,-4,-1,2130,2124,-6,-1,0,Z,70,68,57,333,2,0,0,0,0,0,Origin,on-time

Clean dataset and check for NA values

In [232]:
df.isna().sum()

fl_date                  0
carrier_id               0
carrier_name             0
tail_num                 0
fl_num                   0
origin_airport_id        0
origin_city_market_id    0
origin                   0
origin_city_name         0
origin_state_nm          0
dest_airport_id          0
dest_city_market_id      0
dest                     0
dest_city_name           0
dest_state_nm            0
crs_dep_time             0
dep_time                 0
dep_delay                0
dep_delay_group          0
crs_arr_time             0
arr_time                 0
arr_delay                0
delay_group              0
cancelled                0
cancellation_code        0
crs_elapsed_time         0
actual_elapsed_time      0
air_time                 0
distance                 0
distance_group           0
carrier_delay            0
weather_delay            0
nas_delay                0
security_delay           0
late_aircraft_delay      0
dtype: int64

In [233]:
df.shape

(606196, 35)

In [236]:
# NaN values in these columns means the flight was not delayed (by more than 15 mins)
df[['carrier_delay','weather_delay', 'nas_delay', 'security_delay',
       'late_aircraft_delay']] = df[['carrier_delay','weather_delay', 'nas_delay', 'security_delay',
       'late_aircraft_delay']].fillna(0.0)

In [238]:
# dept_time of NA means the flight was cancelled; fill NaNs with 0s 
pd.set_option('display.max_columns', None)
df[['dep_time','dep_delay','dep_delay_group','arr_time', 'arr_delay', 'delay_group']].isna().fillna(0)

        dep_time  dep_delay  dep_delay_group  arr_time  arr_delay  delay_group
0          False      False            False     False      False        False
1          False      False            False     False      False        False
2          False      False            False     False      False        False
3          False      False            False     False      False        False
4          False      False            False     False      False        False
...          ...        ...              ...       ...        ...          ...
607341     False      False            False     False      False        False
607342     False      False            False     False      False        False
607343     False      False            False     False      False        False
607344     False      False            False     False      False        False
607345     False      False            False     False      False        False

[606196 rows x 6 columns]

In [245]:
df.loc[df['cancelled'] ==1, ['dep_time','dep_delay','dep_delay_group','arr_time', 'arr_delay', 'delay_group']] = 0

In [246]:
# cancelled flights also don't have any elapsed or airtime
df.loc[df['cancelled'] ==1, ['actual_elapsed_time','air_time']] = 0

In [247]:
# cancelled flights are also missing a tail_num
df.loc[df['cancelled'] ==1, 'tail_num'] = 0

In [248]:
# fill flights that were not cancelled with cancel code "z"
df['cancellation_code']=df['cancellation_code'].fillna('Z')

In [250]:
# drop arriving flights with NaN b/c it means they were diverted, and we did not include this info in our tables
df = df.dropna(subset=['arr_time','arr_delay','delay_group','actual_elapsed_time','air_time'])

In [251]:
# confirm no NaN values
df.isna().sum()

fl_date                  0
carrier_id               0
carrier_name             0
tail_num                 0
fl_num                   0
origin_airport_id        0
origin_city_market_id    0
origin                   0
origin_city_name         0
origin_state_nm          0
dest_airport_id          0
dest_city_market_id      0
dest                     0
dest_city_name           0
dest_state_nm            0
crs_dep_time             0
dep_time                 0
dep_delay                0
dep_delay_group          0
crs_arr_time             0
arr_time                 0
arr_delay                0
delay_group              0
cancelled                0
cancellation_code        0
crs_elapsed_time         0
actual_elapsed_time      0
air_time                 0
distance                 0
distance_group           0
carrier_delay            0
weather_delay            0
nas_delay                0
security_delay           0
late_aircraft_delay      0
dtype: int64

In [252]:
# rename columns for general reference
df = df.rename({'op_carrier_airline_id':'carrier_id','op_carrier':'carrier_name','op_carrier_fl_num':'fl_num','origin_STATE_ABR':'origin_STATE_NM','dest_STATE_ABR':'dest_STATE_NM','arr_delay_group':'delay_group'},axis=1)
df.columns

Index(['fl_date', 'carrier_id', 'carrier_name', 'tail_num', 'fl_num',
       'origin_airport_id', 'origin_city_market_id', 'origin',
       'origin_city_name', 'origin_state_nm', 'dest_airport_id',
       'dest_city_market_id', 'dest', 'dest_city_name', 'dest_state_nm',
       'crs_dep_time', 'dep_time', 'dep_delay', 'dep_delay_group',
       'crs_arr_time', 'arr_time', 'arr_delay', 'delay_group', 'cancelled',
       'cancellation_code', 'crs_elapsed_time', 'actual_elapsed_time',
       'air_time', 'distance', 'distance_group', 'carrier_delay',
       'weather_delay', 'nas_delay', 'security_delay', 'late_aircraft_delay'],
      dtype='object')

In [253]:
df.head()

,fl_date,carrier_id,carrier_name,tail_num,fl_num,origin_airport_id,origin_city_market_id,origin,origin_city_name,origin_state_nm,dest_airport_id,dest_city_market_id,dest,dest_city_name,dest_state_nm,crs_dep_time,dep_time,dep_delay,dep_delay_group,crs_arr_time,arr_time,arr_delay,delay_group,cancelled,cancellation_code,crs_elapsed_time,actual_elapsed_time,air_time,distance,distance_group,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2020-01-01,19393,WN,N951WN,5888,13891,32575,ONT,"Ontario, CA",CA,14771,32457,SFO,"San Francisco, CA",CA,1810,1851,41,2,1945,2053,68,4,0,Z,95,122,74,363,2,8,0,27,0,33
1,2020-01-01,19393,WN,N467WN,6276,13891,32575,ONT,"Ontario, CA",CA,14771,32457,SFO,"San Francisco, CA",CA,1150,1146,-4,-1,1320,1318,-2,-1,0,Z,90,92,71,363,2,0,0,0,0,0
2,2020-01-01,19393,WN,N7885A,4598,13891,32575,ONT,"Ontario, CA",CA,14831,32457,SJC,"San Jose, CA",CA,2020,2016,-4,-1,2130,2124,-6,-1,0,Z,70,68,57,333,2,0,0,0,0,0
3,2020-01-01,19393,WN,N551WN,4761,13891,32575,ONT,"Ontario, CA",CA,14831,32457,SJC,"San Jose, CA",CA,1340,1350,10,0,1455,1505,10,0,0,Z,75,75,63,333,2,0,0,0,0,0
4,2020-01-01,19393,WN,N968WN,5162,13891,32575,ONT,"Ontario, CA",CA,14831,32457,SJC,"San Jose, CA",CA,915,916,1,0,1035,1023,-12,-1,0,Z,80,67,57,333,2,0,0,0,0,0

In [254]:
# adjust datatypes for SQL code (use integers, rather than floats)

df.dtypes

fl_date                  object
carrier_id                int64
carrier_name             object
tail_num                 object
fl_num                    int64
origin_airport_id         int64
origin_city_market_id     int64
origin                   object
origin_city_name         object
origin_state_nm          object
dest_airport_id           int64
dest_city_market_id       int64
dest                     object
dest_city_name           object
dest_state_nm            object
crs_dep_time              int64
dep_time                  int64
dep_delay                 int64
dep_delay_group           int64
crs_arr_time              int64
arr_time                  int64
arr_delay                 int64
delay_group               int64
cancelled                 int64
cancellation_code        object
crs_elapsed_time          int64
actual_elapsed_time       int64
air_time                  int64
distance                  int64
distance_group            int64
carrier_delay             int64
weather_delay             int64
nas_delay                 int64
security_delay            int64
late_aircraft_delay       int64
dtype: object

In [255]:
df[['dep_time','dep_delay','dep_delay_group','arr_time','arr_delay','delay_group','cancelled']] = 
df[['dep_time','dep_delay','dep_delay_group','arr_time','arr_delay','delay_group','cancelled']].astype(int)

In [258]:
df[['crs_elapsed_time', 'actual_elapsed_time','air_time', 'distance', 'carrier_delay','weather_delay', 'nas_delay', 'security_delay', 'late_aircraft_delay']] = df[['crs_elapsed_time', 'actual_elapsed_time','air_time', 'distance', 'carrier_delay','weather_delay', 'nas_delay', 'security_delay', 'late_aircraft_delay']].astype(int)

In [259]:
df.dtypes

fl_date                  object
carrier_id                int64
carrier_name             object
tail_num                 object
fl_num                    int64
origin_airport_id         int64
origin_city_market_id     int64
origin                   object
origin_city_name         object
origin_state_nm          object
dest_airport_id           int64
dest_city_market_id       int64
dest                     object
dest_city_name           object
dest_state_nm            object
crs_dep_time              int64
dep_time                  int64
dep_delay                 int64
dep_delay_group           int64
crs_arr_time              int64
arr_time                  int64
arr_delay                 int64
delay_group               int64
cancelled                 int64
cancellation_code        object
crs_elapsed_time          int64
actual_elapsed_time       int64
air_time                  int64
distance                  int64
distance_group            int64
carrier_delay             int64
weather_delay             int64
nas_delay                 int64
security_delay            int64
late_aircraft_delay       int64
dtype: object

Cities Table

In [293]:
df_origin_cities_temp = df[['fl_date', 'carrier_id', 'carrier_name', 'tail_num',
       'fl_num', 'origin_airport_id', 'origin_city_market_id',
       'origin', 'origin_city_name', 'origin_state_nm','crs_dep_time', 'dep_time', 'dep_delay',
       'dep_delay_group', 'crs_arr_time','arr_time', 'arr_delay', 'delay_group',
       'cancelled', 'cancellation_code', 'crs_elapsed_time',
       'actual_elapsed_time', 'air_time', 'distance', 'distance_group',
       'carrier_delay', 'weather_delay', 'nas_delay', 'security_delay',
       'late_aircraft_delay']]

In [294]:
df_origin_cities_temp['origin_status'] = 'Origin'
df_origin_cities_temp.head()

/Users/amandalilly/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,fl_date,carrier_id,carrier_name,tail_num,fl_num,origin_airport_id,origin_city_market_id,origin,origin_city_name,origin_state_nm,crs_dep_time,dep_time,dep_delay,dep_delay_group,crs_arr_time,arr_time,arr_delay,delay_group,cancelled,cancellation_code,crs_elapsed_time,actual_elapsed_time,air_time,distance,distance_group,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,origin_status
0,2020-01-01,19393,WN,N951WN,5888,13891,32575,ONT,"Ontario, CA",CA,1810,1851,41,2,1945,2053,68,4,0,Z,95,122,74,363,2,8,0,27,0,33,Origin
1,2020-01-01,19393,WN,N467WN,6276,13891,32575,ONT,"Ontario, CA",CA,1150,1146,-4,-1,1320,1318,-2,-1,0,Z,90,92,71,363,2,0,0,0,0,0,Origin
2,2020-01-01,19393,WN,N7885A,4598,13891,32575,ONT,"Ontario, CA",CA,2020,2016,-4,-1,2130,2124,-6,-1,0,Z,70,68,57,333,2,0,0,0,0,0,Origin
3,2020-01-01,19393,WN,N551WN,4761,13891,32575,ONT,"Ontario, CA",CA,1340,1350,10,0,1455,1505,10,0,0,Z,75,75,63,333,2,0,0,0,0,0,Origin
4,2020-01-01,19393,WN,N968WN,5162,13891,32575,ONT,"Ontario, CA",CA,915,916,1,0,1035,1023,-12,-1,0,Z,80,67,57,333,2,0,0,0,0,0,Origin

In [295]:
# rename columns for concatinating temp tables
df_origin_cities_temp=df_origin_cities_temp.rename({'origin_airport_id':'airport_id', 'origin_city_market_id':'city_market_id',
       'origin':'city_abrv', 'origin_city_name':'city_name', 'origin_state_nm':'state'},axis=1)

In [296]:
df.columns

Index(['fl_date', 'carrier_id', 'carrier_name', 'tail_num', 'fl_num',
       'origin_airport_id', 'origin_city_market_id', 'origin',
       'origin_city_name', 'origin_state_nm', 'dest_airport_id',
       'dest_city_market_id', 'dest', 'dest_city_name', 'dest_state_nm',
       'crs_dep_time', 'dep_time', 'dep_delay', 'dep_delay_group',
       'crs_arr_time', 'arr_time', 'arr_delay', 'delay_group', 'cancelled',
       'cancellation_code', 'crs_elapsed_time', 'actual_elapsed_time',
       'air_time', 'distance', 'distance_group', 'carrier_delay',
       'weather_delay', 'nas_delay', 'security_delay', 'late_aircraft_delay'],
      dtype='object')

In [297]:
# create temp arr_cities table
df_dest_cities_temp = df[['fl_date', 'carrier_id', 'carrier_name', 'tail_num',
       'fl_num', 'dest_airport_id', 'dest_city_market_id', 'dest', 'dest_city_name',
       'dest_state_nm', 'crs_dep_time', 'dep_time', 'dep_delay',
       'dep_delay_group', 'crs_arr_time','arr_time', 'arr_delay', 'delay_group',
       'cancelled', 'cancellation_code', 'crs_elapsed_time',
       'actual_elapsed_time', 'air_time', 'distance', 'distance_group',
       'carrier_delay', 'weather_delay', 'nas_delay', 'security_delay',
       'late_aircraft_delay']]

In [298]:
df_dest_cities_temp['origin_status'] = 'Destination'
df_dest_cities_temp.head()

/Users/amandalilly/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,fl_date,carrier_id,carrier_name,tail_num,fl_num,dest_airport_id,dest_city_market_id,dest,dest_city_name,dest_state_nm,crs_dep_time,dep_time,dep_delay,dep_delay_group,crs_arr_time,arr_time,arr_delay,delay_group,cancelled,cancellation_code,crs_elapsed_time,actual_elapsed_time,air_time,distance,distance_group,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,origin_status
0,2020-01-01,19393,WN,N951WN,5888,14771,32457,SFO,"San Francisco, CA",CA,1810,1851,41,2,1945,2053,68,4,0,Z,95,122,74,363,2,8,0,27,0,33,Destination
1,2020-01-01,19393,WN,N467WN,6276,14771,32457,SFO,"San Francisco, CA",CA,1150,1146,-4,-1,1320,1318,-2,-1,0,Z,90,92,71,363,2,0,0,0,0,0,Destination
2,2020-01-01,19393,WN,N7885A,4598,14831,32457,SJC,"San Jose, CA",CA,2020,2016,-4,-1,2130,2124,-6,-1,0,Z,70,68,57,333,2,0,0,0,0,0,Destination
3,2020-01-01,19393,WN,N551WN,4761,14831,32457,SJC,"San Jose, CA",CA,1340,1350,10,0,1455,1505,10,0,0,Z,75,75,63,333,2,0,0,0,0,0,Destination
4,2020-01-01,19393,WN,N968WN,5162,14831,32457,SJC,"San Jose, CA",CA,915,916,1,0,1035,1023,-12,-1,0,Z,80,67,57,333,2,0,0,0,0,0,Destination

In [299]:
# rename columns for concatinating temp tables
df_dest_cities_temp=df_dest_cities_temp.rename({'dest_airport_id':'airport_id', 'dest_city_market_id':'city_market_id',
       'dest':'city_abrv', 'dest_city_name':'city_name', 'dest_state_nm':'state'},axis=1)

In [300]:
# concat temp tables

df2 = pd.concat([df_origin_cities_temp,df_dest_cities_temp])
df2.head()

,fl_date,carrier_id,carrier_name,tail_num,fl_num,airport_id,city_market_id,city_abrv,city_name,state,crs_dep_time,dep_time,dep_delay,dep_delay_group,crs_arr_time,arr_time,arr_delay,delay_group,cancelled,cancellation_code,crs_elapsed_time,actual_elapsed_time,air_time,distance,distance_group,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,origin_status
0,2020-01-01,19393,WN,N951WN,5888,13891,32575,ONT,"Ontario, CA",CA,1810,1851,41,2,1945,2053,68,4,0,Z,95,122,74,363,2,8,0,27,0,33,Origin
1,2020-01-01,19393,WN,N467WN,6276,13891,32575,ONT,"Ontario, CA",CA,1150,1146,-4,-1,1320,1318,-2,-1,0,Z,90,92,71,363,2,0,0,0,0,0,Origin
2,2020-01-01,19393,WN,N7885A,4598,13891,32575,ONT,"Ontario, CA",CA,2020,2016,-4,-1,2130,2124,-6,-1,0,Z,70,68,57,333,2,0,0,0,0,0,Origin
3,2020-01-01,19393,WN,N551WN,4761,13891,32575,ONT,"Ontario, CA",CA,1340,1350,10,0,1455,1505,10,0,0,Z,75,75,63,333,2,0,0,0,0,0,Origin
4,2020-01-01,19393,WN,N968WN,5162,13891,32575,ONT,"Ontario, CA",CA,915,916,1,0,1035,1023,-12,-1,0,Z,80,67,57,333,2,0,0,0,0,0,Origin

In [303]:
# remove state abbreviation from city

df2['city_name'] = df2['city_name'].str.split(',').str[0]

In [304]:
# remove cities with two names
df2['city_name'] = df2['city_name'].str.split('/').str[0]

In [305]:
# city table

city_df = df2[['city_market_id','city_name','state']]
city_df.head()

   city_market_id city_name state
0           32575   Ontario    CA
1           32575   Ontario    CA
2           32575   Ontario    CA
3           32575   Ontario    CA
4           32575   Ontario    CA

In [306]:
# remove duplicates
city_df = city_df.drop_duplicates().reset_index(drop=True)

In [307]:
city_df.head()

   city_market_id        city_name state
0           32575          Ontario    CA
1           33667          Norfolk    VA
2           34027  West Palm Beach    FL
3           34057         Portland    OR
4           34100     Philadelphia    PA

In [308]:
# some cities have the same city_market_id
print(city_df.city_market_id.nunique())
print(len(city_df))
city_df.city_market_id.value_counts()

326
343

32575    5
31703    5
30721    3
32457    3
33195    2
        ..
32016    1
32600    1
31577    1
31066    1
30208    1
Name: city_market_id, Length: 326, dtype: int64

In [309]:
# assign unique city_id's
city_df.insert(0,'city_id',range(1,1+len(city_df)))
city_df.head()

   city_id  city_market_id        city_name state
0        1           32575          Ontario    CA
1        2           33667          Norfolk    VA
2        3           34027  West Palm Beach    FL
3        4           34057         Portland    OR
4        5           34100     Philadelphia    PA

In [310]:
# export table to database

city_df.to_sql(name='cities',con=engine,if_exists='append',index=False)

In [312]:
# create temp_column in city_df and main_df to map city_id to city_market + city columns
city_df['city_market_id'] = city_df['city_market_id'].apply(str)
city_df['temp'] = city_df['city_market_id'].str.cat(city_df['city_name'],sep="_")
city_df.head()

   city_id city_market_id        city_name state                   temp
0        1          32575          Ontario    CA          32575_Ontario
1        2          33667          Norfolk    VA          33667_Norfolk
2        3          34027  West Palm Beach    FL  34027_West Palm Beach
3        4          34057         Portland    OR         34057_Portland
4        5          34100     Philadelphia    PA     34100_Philadelphia

In [313]:
print(city_df.temp.nunique())
print(len(city_df))

343
343

In [314]:
# select columns for merge

city_df2 = city_df[['city_id','temp']]

In [316]:
# create temp_column in city_df and main_df to map city_id to city_market + city columns
df2['city_market_id'] = df2['city_market_id'].apply(str)
df2['temp'] = df2['city_market_id'].str.cat(df2['city_name'],sep="_")
df2.head()

,fl_date,carrier_id,carrier_name,tail_num,fl_num,airport_id,city_market_id,city_abrv,city_name,state,crs_dep_time,dep_time,dep_delay,dep_delay_group,crs_arr_time,arr_time,arr_delay,delay_group,cancelled,cancellation_code,crs_elapsed_time,actual_elapsed_time,air_time,distance,distance_group,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,origin_status,temp
0,2020-01-01,19393,WN,N951WN,5888,13891,32575,ONT,Ontario,CA,1810,1851,41,2,1945,2053,68,4,0,Z,95,122,74,363,2,8,0,27,0,33,Origin,32575_Ontario
1,2020-01-01,19393,WN,N467WN,6276,13891,32575,ONT,Ontario,CA,1150,1146,-4,-1,1320,1318,-2,-1,0,Z,90,92,71,363,2,0,0,0,0,0,Origin,32575_Ontario
2,2020-01-01,19393,WN,N7885A,4598,13891,32575,ONT,Ontario,CA,2020,2016,-4,-1,2130,2124,-6,-1,0,Z,70,68,57,333,2,0,0,0,0,0,Origin,32575_Ontario
3,2020-01-01,19393,WN,N551WN,4761,13891,32575,ONT,Ontario,CA,1340,1350,10,0,1455,1505,10,0,0,Z,75,75,63,333,2,0,0,0,0,0,Origin,32575_Ontario
4,2020-01-01,19393,WN,N968WN,5162,13891,32575,ONT,Ontario,CA,915,916,1,0,1035,1023,-12,-1,0,Z,80,67,57,333,2,0,0,0,0,0,Origin,32575_Ontario

In [317]:
# map city_id to main dataframe
df2=df2.merge(city_df2,left_on='temp',right_on='temp',how='left')

In [318]:
# drop temp columns
df2=df2.drop('temp',axis=1)
city_df = city_df.drop('temp',axis=1)
city_df

     city_id city_market_id        city_name state
0          1          32575          Ontario    CA
1          2          33667          Norfolk    VA
2          3          34027  West Palm Beach    FL
3          4          34057         Portland    OR
4          5          34100     Philadelphia    PA
..       ...            ...              ...   ...
338      339          33983        Owensboro    KY
339      340          32131            Ogden    UT
340      341          32556        St. Cloud    MN
341      342          34812         Sheridan    WY
342      343          34534         Riverton    WY

[343 rows x 4 columns]

In [319]:
# reorder columns
df2=df2[['fl_date', 'carrier_id', 'carrier_name', 'tail_num', 'fl_num',
       'airport_id', 'city_id','city_market_id', 'city_abrv', 'city_name', 'state',
       'crs_dep_time', 'dep_time', 'dep_delay', 'dep_delay_group', 'crs_arr_time','arr_time',
       'arr_delay', 'delay_group', 'cancelled', 'cancellation_code',
       'crs_elapsed_time', 'actual_elapsed_time', 'air_time', 'distance',
       'distance_group', 'carrier_delay', 'weather_delay', 'nas_delay',
       'security_delay', 'late_aircraft_delay', 'origin_status']]
df2.head()

,fl_date,carrier_id,carrier_name,tail_num,fl_num,airport_id,city_id,city_market_id,city_abrv,city_name,state,crs_dep_time,dep_time,dep_delay,dep_delay_group,crs_arr_time,arr_time,arr_delay,delay_group,cancelled,cancellation_code,crs_elapsed_time,actual_elapsed_time,air_time,distance,distance_group,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,origin_status
0,2020-01-01,19393,WN,N951WN,5888,13891,1,32575,ONT,Ontario,CA,1810,1851,41,2,1945,2053,68,4,0,Z,95,122,74,363,2,8,0,27,0,33,Origin
1,2020-01-01,19393,WN,N467WN,6276,13891,1,32575,ONT,Ontario,CA,1150,1146,-4,-1,1320,1318,-2,-1,0,Z,90,92,71,363,2,0,0,0,0,0,Origin
2,2020-01-01,19393,WN,N7885A,4598,13891,1,32575,ONT,Ontario,CA,2020,2016,-4,-1,2130,2124,-6,-1,0,Z,70,68,57,333,2,0,0,0,0,0,Origin
3,2020-01-01,19393,WN,N551WN,4761,13891,1,32575,ONT,Ontario,CA,1340,1350,10,0,1455,1505,10,0,0,Z,75,75,63,333,2,0,0,0,0,0,Origin
4,2020-01-01,19393,WN,N968WN,5162,13891,1,32575,ONT,Ontario,CA,915,916,1,0,1035,1023,-12,-1,0,Z,80,67,57,333,2,0,0,0,0,0,Origin

Airports table

In [320]:
df2 = df2.rename({'city_abrv':'airport_abrv','carrier_name':'carrier_abrv'},axis=1)

In [321]:
airport_df = df2[['airport_id','airport_abrv','city_id']]

In [322]:
# confirm airport_id is a unique value
print(len(airport_df.drop_duplicates()))

351

In [323]:
airport_df.airport_id.value_counts()

10397    64256
13930    51226
11298    48533
11292    40732
11057    39947
         ...
10165       18
13983       18
13829       18
14222       18
11097        1
Name: airport_id, Length: 351, dtype: int64

In [324]:
# drop duplicates
airport_df=airport_df.drop_duplicates()
airport_df.head()

    airport_id airport_abrv  city_id
0        13891          ONT        1
14       13931          ORF        2
20       14027          PBI        3
26       14057          PDX        4
58       14100          PHL        5

In [325]:
# export df to database table airports
airport_df.to_sql(name='airports',con=engine,if_exists='append',index=False)

Carriers Table

In [326]:
carriers_df = df2[['carrier_id','carrier_abrv']]

In [327]:
carriers_df

         carrier_id carrier_abrv
0             19393           WN
1             19393           WN
2             19393           WN
3             19393           WN
4             19393           WN
...             ...          ...
1212387       20363           9E
1212388       20363           9E
1212389       20363           9E
1212390       20363           9E
1212391       20363           9E

[1212392 rows x 2 columns]

In [328]:
# Confirm carrier_id is unique

print(len(carriers_df.drop_duplicates()))
len(carriers_df.carrier_abrv.value_counts())

17

17

In [329]:
carriers_df = carriers_df.drop_duplicates()

In [330]:
carriers_df

       carrier_id carrier_abrv
0           19393           WN
1064        20398           MQ
1365        20378           YV
1530        19690           HA
1729        20397           OH
1878        19805           AA
2398        20416           NK
2594        20304           OO
4570        19977           UA
5308        20452           YX
5575        20363           9E
5713        20368           G4
6008        20409           B6
6566        19930           AS
7958        19790           DL
9505        20366           EV
13598       20436           F9

In [331]:
# create list of carriers to refernce later
carrier_list = carriers_df.carrier_abrv.to_list()
carrier_list

['WN',
 'MQ',
 'YV',
 'HA',
 'OH',
 'AA',
 'NK',
 'OO',
 'UA',
 'YX',
 '9E',
 'G4',
 'B6',
 'AS',
 'DL',
 'EV',
 'F9']

In [333]:
# Export carriers_df to carriers table in database

carriers_df.to_sql(name='carriers',con=engine,if_exists='append',index=False)

Planes Table

In [334]:
# create planes table
planes_df = df2[['tail_num','carrier_id']]

In [335]:
# Confirm carrier_id is unique

print(len(planes_df.drop_duplicates()))
len(planes_df.tail_num.value_counts())

5460

5444

In [336]:
planes_df = planes_df.drop_duplicates()

In [337]:
planes_df.tail_num.value_counts()

0         17
N338DN     1
N553AS     1
N416WN     1
N185UW     1
          ..
N912DL     1
N8534Z     1
N220HA     1
N937SW     1
N800AE     1
Name: tail_num, Length: 5444, dtype: int64

In [338]:
# drop planes with tail-num of 0 bc it means they were cancelled
planes_df=planes_df[planes_df['tail_num']!=0]

In [339]:
# Confirm tail_num is unique

print(len(planes_df.drop_duplicates()))
len(planes_df.tail_num.value_counts())

5443

5443

In [340]:
# drop dups
planes_df = planes_df.drop_duplicates()
planes_df.head()

  tail_num  carrier_id
0   N951WN       19393
1   N467WN       19393
2   N7885A       19393
3   N551WN       19393
4   N968WN       19393

In [341]:
# export planes_df to planes table
planes_df.to_sql(name='planes',con=engine,if_exists='append',index=False)

Scheduled Flights Table

In [342]:
# create temp_column to help later map flight_id
df2['fl_date'] = df2['fl_date'].apply(str)
df2['carrier_id'] = df2['carrier_id'].apply(str)
df2['fl_num'] = df2['fl_num'].apply(str)
df2['tail_num'] = df2['tail_num'].apply(str)
df2['crs_dep_time'] = df2['crs_dep_time'].apply(str)

df2['temp_key'] = df2['fl_date'].str.cat(df2[['carrier_id','fl_num','tail_num','crs_dep_time']],sep="_")
df2.head()

,fl_date,carrier_id,carrier_abrv,tail_num,fl_num,airport_id,city_id,city_market_id,airport_abrv,city_name,state,crs_dep_time,dep_time,dep_delay,dep_delay_group,crs_arr_time,arr_time,arr_delay,delay_group,cancelled,cancellation_code,crs_elapsed_time,actual_elapsed_time,air_time,distance,distance_group,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,origin_status,temp_key
0,2020-01-01,19393,WN,N951WN,5888,13891,1,32575,ONT,Ontario,CA,1810,1851,41,2,1945,2053,68,4,0,Z,95,122,74,363,2,8,0,27,0,33,Origin,2020-01-01_19393_5888_N951WN_1810
1,2020-01-01,19393,WN,N467WN,6276,13891,1,32575,ONT,Ontario,CA,1150,1146,-4,-1,1320,1318,-2,-1,0,Z,90,92,71,363,2,0,0,0,0,0,Origin,2020-01-01_19393_6276_N467WN_1150
2,2020-01-01,19393,WN,N7885A,4598,13891,1,32575,ONT,Ontario,CA,2020,2016,-4,-1,2130,2124,-6,-1,0,Z,70,68,57,333,2,0,0,0,0,0,Origin,2020-01-01_19393_4598_N7885A_2020
3,2020-01-01,19393,WN,N551WN,4761,13891,1,32575,ONT,Ontario,CA,1340,1350,10,0,1455,1505,10,0,0,Z,75,75,63,333,2,0,0,0,0,0,Origin,2020-01-01_19393_4761_N551WN_1340
4,2020-01-01,19393,WN,N968WN,5162,13891,1,32575,ONT,Ontario,CA,915,916,1,0,1035,1023,-12,-1,0,Z,80,67,57,333,2,0,0,0,0,0,Origin,2020-01-01_19393_5162_N968WN_915

In [343]:
def status_code(x):
  if x > 5:
    status = 'delayed'â€º
  else:
    status = 'on-time'
  return status

In [344]:
# create flight_status column
df2['status'] = df2.dep_delay.apply(status_code)
df2['status'] = df2.arr_delay.apply(status_code)
df2['status'] = np.where(df2['cancelled']>.5,'cancelled',df2['status'])
df2.head()

,fl_date,carrier_id,carrier_abrv,tail_num,fl_num,airport_id,city_id,city_market_id,airport_abrv,city_name,state,crs_dep_time,dep_time,dep_delay,dep_delay_group,crs_arr_time,arr_time,arr_delay,delay_group,cancelled,cancellation_code,crs_elapsed_time,actual_elapsed_time,air_time,distance,distance_group,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,origin_status,temp_key,status
0,2020-01-01,19393,WN,N951WN,5888,13891,1,32575,ONT,Ontario,CA,1810,1851,41,2,1945,2053,68,4,0,Z,95,122,74,363,2,8,0,27,0,33,Origin,2020-01-01_19393_5888_N951WN_1810,delayed
1,2020-01-01,19393,WN,N467WN,6276,13891,1,32575,ONT,Ontario,CA,1150,1146,-4,-1,1320,1318,-2,-1,0,Z,90,92,71,363,2,0,0,0,0,0,Origin,2020-01-01_19393_6276_N467WN_1150,on-time
2,2020-01-01,19393,WN,N7885A,4598,13891,1,32575,ONT,Ontario,CA,2020,2016,-4,-1,2130,2124,-6,-1,0,Z,70,68,57,333,2,0,0,0,0,0,Origin,2020-01-01_19393_4598_N7885A_2020,on-time
3,2020-01-01,19393,WN,N551WN,4761,13891,1,32575,ONT,Ontario,CA,1340,1350,10,0,1455,1505,10,0,0,Z,75,75,63,333,2,0,0,0,0,0,Origin,2020-01-01_19393_4761_N551WN_1340,delayed
4,2020-01-01,19393,WN,N968WN,5162,13891,1,32575,ONT,Ontario,CA,915,916,1,0,1035,1023,-12,-1,0,Z,80,67,57,333,2,0,0,0,0,0,Origin,2020-01-01_19393_5162_N968WN_915,on-time

In [345]:
sched = df2[['fl_date','crs_dep_time','crs_arr_time','crs_elapsed_time','temp_key']]

In [346]:
sched.head()

,fl_date,crs_dep_time,crs_arr_time,crs_elapsed_time,temp_key
0,2020-01-01,1810,1945,95,2020-01-01_19393_5888_N951WN_1810
1,2020-01-01,1150,1320,90,2020-01-01_19393_6276_N467WN_1150
2,2020-01-01,2020,2130,70,2020-01-01_19393_4598_N7885A_2020
3,2020-01-01,1340,1455,75,2020-01-01_19393_4761_N551WN_1340
4,2020-01-01,915,1035,80,2020-01-01_19393_5162_N968WN_915

In [347]:
# check for dups
print(sched.shape)
sched.duplicated().sum()

(1212392, 5)

606196

In [348]:
sched=sched.drop_duplicates().sort_values(['fl_date'])
sched

,fl_date,crs_dep_time,crs_arr_time,crs_elapsed_time,temp_key
0,2020-01-01,1810,1945,95,2020-01-01_19393_5888_N951WN_1810
12050,2020-01-01,1915,2050,155,2020-01-01_19393_3652_N952WN_1915
12051,2020-01-01,530,720,170,2020-01-01_19393_4855_N905WN_530
12052,2020-01-01,1430,1610,160,2020-01-01_19393_5089_N288WN_1430
12053,2020-01-01,1155,1335,160,2020-01-01_19393_6246_N202WN_1155
...,...,...,...,...,...
592343,2020-01-31,2230,2330,60,2020-01-31_20397_5205_N719PS_2230
592342,2020-01-31,503,645,102,2020-01-31_20397_5204_N604NN_503
592341,2020-01-31,2220,2354,94,2020-01-31_20397_5203_N608NN_2220
592359,2020-01-31,1749,1852,63,2020-01-31_20397_5666_N574NN_1749
606195,2020-01-31,2005,2222,137,2020-01-31_20363_4958_N390CA_2005

In [352]:
# assign flight_id

sched.insert(0,'flight_id',range(1,1+len(sched)))
sched.head(100)

,flight_id,fl_date,crs_dep_time,crs_arr_time,crs_elapsed_time,temp_key
0,1,2020-01-01,1810,1945,95,2020-01-01_19393_5888_N951WN_1810
12050,2,2020-01-01,1915,2050,155,2020-01-01_19393_3652_N952WN_1915
12051,3,2020-01-01,530,720,170,2020-01-01_19393_4855_N905WN_530
12052,4,2020-01-01,1430,1610,160,2020-01-01_19393_5089_N288WN_1430
12053,5,2020-01-01,1155,1335,160,2020-01-01_19393_6246_N202WN_1155
...,...,...,...,...,...,...
12145,96,2020-01-01,635,905,210,2020-01-01_19393_5211_N8572X_635
12143,97,2020-01-01,1545,1840,295,2020-01-01_19393_3255_N751SW_1545
12142,98,2020-01-01,2155,10,135,2020-01-01_19393_6027_N7725A_2155
12141,99,2020-01-01,1055,1310,135,2020-01-01_19393_4814_N472WN_1055
12140,100,2020-01-01,645,900,135,2020-01-01_19393_3566_N727SW_645

In [353]:
# drop other columns for cleaner join
sched_temp = sched[['flight_id','temp_key']]

In [354]:
sched_temp.head()

       flight_id                           temp_key
0              1  2020-01-01_19393_5888_N951WN_1810
12050          2  2020-01-01_19393_3652_N952WN_1915
12051          3   2020-01-01_19393_4855_N905WN_530
12052          4  2020-01-01_19393_5089_N288WN_1430
12053          5  2020-01-01_19393_6246_N202WN_1155

In [355]:
# insert new column of flight_id to main df
df2 = df2.merge(sched_temp, left_on = 'temp_key', right_on = 'temp_key', how='left')

In [356]:
# drop temp column from both dataframes

df2=df2.drop('temp_key',axis=1)
sched = sched.drop('temp_key',axis=1)

In [359]:
# re order columns
df2 = df2[['fl_date', 'flight_id', 'carrier_id', 'carrier_abrv', 'tail_num', 'fl_num',
       'airport_id', 'city_id', 'city_market_id', 'airport_abrv', 'city_name',
       'state', 'crs_dep_time', 'dep_time', 'dep_delay', 'dep_delay_group',
       'crs_arr_time', 'arr_time', 'arr_delay', 'delay_group', 'cancelled',
       'cancellation_code', 'crs_elapsed_time', 'actual_elapsed_time',
       'air_time', 'distance', 'distance_group', 'carrier_delay',
       'weather_delay', 'nas_delay', 'security_delay', 'late_aircraft_delay',
       'origin_status', 'status']]

In [360]:
df2.head()

,fl_date,flight_id,carrier_id,carrier_abrv,tail_num,fl_num,airport_id,city_id,city_market_id,airport_abrv,city_name,state,crs_dep_time,dep_time,dep_delay,dep_delay_group,crs_arr_time,arr_time,arr_delay,delay_group,cancelled,cancellation_code,crs_elapsed_time,actual_elapsed_time,air_time,distance,distance_group,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,origin_status,status
0,2020-01-01,1,19393,WN,N951WN,5888,13891,1,32575,ONT,Ontario,CA,1810,1851,41,2,1945,2053,68,4,0,Z,95,122,74,363,2,8,0,27,0,33,Origin,delayed
1,2020-01-01,12062,19393,WN,N467WN,6276,13891,1,32575,ONT,Ontario,CA,1150,1146,-4,-1,1320,1318,-2,-1,0,Z,90,92,71,363,2,0,0,0,0,0,Origin,on-time
2,2020-01-01,12061,19393,WN,N7885A,4598,13891,1,32575,ONT,Ontario,CA,2020,2016,-4,-1,2130,2124,-6,-1,0,Z,70,68,57,333,2,0,0,0,0,0,Origin,on-time
3,2020-01-01,12060,19393,WN,N551WN,4761,13891,1,32575,ONT,Ontario,CA,1340,1350,10,0,1455,1505,10,0,0,Z,75,75,63,333,2,0,0,0,0,0,Origin,delayed
4,2020-01-01,12059,19393,WN,N968WN,5162,13891,1,32575,ONT,Ontario,CA,915,916,1,0,1035,1023,-12,-1,0,Z,80,67,57,333,2,0,0,0,0,0,Origin,on-time

In [361]:
sched.reset_index(drop=True)

        flight_id     fl_date crs_dep_time  crs_arr_time  crs_elapsed_time
0               1  2020-01-01         1810          1945                95
1               2  2020-01-01         1915          2050               155
2               3  2020-01-01          530           720               170
3               4  2020-01-01         1430          1610               160
4               5  2020-01-01         1155          1335               160
...           ...         ...          ...           ...               ...
606191     606192  2020-01-31         2230          2330                60
606192     606193  2020-01-31          503           645               102
606193     606194  2020-01-31         2220          2354                94
606194     606195  2020-01-31         1749          1852                63
606195     606196  2020-01-31         2005          2222               137

[606196 rows x 5 columns]

In [368]:
sched['flight_id'].is_unique

True

In [369]:
# export sched_df to scheduled_flights table to database
sched.to_sql(name='scheduled_flights',con=engine,if_exists='append',index=False)

DEPARTING FLIGHTS

In [370]:
departing = df2[df2.origin_status == 'Origin']
print(departing.shape)
departing.head()

(606196, 34)

,fl_date,flight_id,carrier_id,carrier_abrv,tail_num,fl_num,airport_id,city_id,city_market_id,airport_abrv,city_name,state,crs_dep_time,dep_time,dep_delay,dep_delay_group,crs_arr_time,arr_time,arr_delay,delay_group,cancelled,cancellation_code,crs_elapsed_time,actual_elapsed_time,air_time,distance,distance_group,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,origin_status,status
0,2020-01-01,1,19393,WN,N951WN,5888,13891,1,32575,ONT,Ontario,CA,1810,1851,41,2,1945,2053,68,4,0,Z,95,122,74,363,2,8,0,27,0,33,Origin,delayed
1,2020-01-01,12062,19393,WN,N467WN,6276,13891,1,32575,ONT,Ontario,CA,1150,1146,-4,-1,1320,1318,-2,-1,0,Z,90,92,71,363,2,0,0,0,0,0,Origin,on-time
2,2020-01-01,12061,19393,WN,N7885A,4598,13891,1,32575,ONT,Ontario,CA,2020,2016,-4,-1,2130,2124,-6,-1,0,Z,70,68,57,333,2,0,0,0,0,0,Origin,on-time
3,2020-01-01,12060,19393,WN,N551WN,4761,13891,1,32575,ONT,Ontario,CA,1340,1350,10,0,1455,1505,10,0,0,Z,75,75,63,333,2,0,0,0,0,0,Origin,delayed
4,2020-01-01,12059,19393,WN,N968WN,5162,13891,1,32575,ONT,Ontario,CA,915,916,1,0,1035,1023,-12,-1,0,Z,80,67,57,333,2,0,0,0,0,0,Origin,on-time

In [371]:
departing['flight_id'].duplicated().sum()

0

In [402]:
dep_flights = departing[['flight_id', 'airport_id', 'dep_time', 'dep_delay']]
dep_flights.head()

   flight_id  airport_id  dep_time  dep_delay
0          1       13891      1851         41
1      12062       13891      1146         -4
2      12061       13891      2016         -4
3      12060       13891      1350         10
4      12059       13891       916          1

In [403]:
dep_flights.flight_id.duplicated().sum()

0

In [404]:
# export sched_df to departing_flights table to database
dep_flights.to_sql(name='departing_flights',con=engine,if_exists='append',index=False)

Arriving Flights

In [405]:
arriving = df2[df2.origin_status == 'Destination']

In [406]:
print(arriving.shape)
arriving.head()

(606196, 34)

,fl_date,flight_id,carrier_id,carrier_abrv,tail_num,fl_num,airport_id,city_id,city_market_id,airport_abrv,city_name,state,crs_dep_time,dep_time,dep_delay,dep_delay_group,crs_arr_time,arr_time,arr_delay,delay_group,cancelled,cancellation_code,crs_elapsed_time,actual_elapsed_time,air_time,distance,distance_group,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,origin_status,status
606196,2020-01-01,1,19393,WN,N951WN,5888,14771,20,32457,SFO,San Francisco,CA,1810,1851,41,2,1945,2053,68,4,0,Z,95,122,74,363,2,8,0,27,0,33,Destination,delayed
606197,2020-01-01,12062,19393,WN,N467WN,6276,14771,20,32457,SFO,San Francisco,CA,1150,1146,-4,-1,1320,1318,-2,-1,0,Z,90,92,71,363,2,0,0,0,0,0,Destination,on-time
606198,2020-01-01,12061,19393,WN,N7885A,4598,14831,21,32457,SJC,San Jose,CA,2020,2016,-4,-1,2130,2124,-6,-1,0,Z,70,68,57,333,2,0,0,0,0,0,Destination,on-time
606199,2020-01-01,12060,19393,WN,N551WN,4761,14831,21,32457,SJC,San Jose,CA,1340,1350,10,0,1455,1505,10,0,0,Z,75,75,63,333,2,0,0,0,0,0,Destination,delayed
606200,2020-01-01,12059,19393,WN,N968WN,5162,14831,21,32457,SJC,San Jose,CA,915,916,1,0,1035,1023,-12,-1,0,Z,80,67,57,333,2,0,0,0,0,0,Destination,on-time

In [407]:
arr_flights = arriving[['flight_id', 'airport_id','arr_time','arr_delay']]
arr_flights.head()

        flight_id  airport_id  arr_time  arr_delay
606196          1       14771      2053         68
606197      12062       14771      1318         -2
606198      12061       14831      2124         -6
606199      12060       14831      1505         10
606200      12059       14831      1023        -12

In [408]:
# export sched_df to scheduled_flights table to database
arr_flights.to_sql(name='arriving_flights',con=engine,if_exists='append',index=False)

INFLIGHT INFO TABLE

In [421]:
inflight = df2[['flight_id', 'tail_num','actual_elapsed_time', 'air_time']]
inflight.head()

   flight_id tail_num  actual_elapsed_time  air_time
0          1   N951WN                  122        74
1      12062   N467WN                   92        71
2      12061   N7885A                   68        57
3      12060   N551WN                   75        63
4      12059   N968WN                   67        57

In [432]:
# remove cancelled flights
inflight = inflight[inflight['tail_num']!='0']

In [434]:
# drop duplicates (currently have duplicates bc includes both origin and destination)
inflight = inflight.drop_duplicates()

In [435]:
inflight.sort_values(by='tail_num')

        flight_id tail_num  actual_elapsed_time  air_time
515700     508830    215NV                  148       126
225483     218538    215NV                  139       125
598327     589779    215NV                  169       141
208757     202170    215NV                  162       145
356766     368718    215NV                  162       146
...           ...      ...                  ...       ...
152779     146213   N999JQ                  232       210
357323     368182   N999JQ                  144       126
70650       59944   N999JQ                  290       261
110860     102155   N999JQ                  164       143
379374     372286   N999JQ                  164       141

[599268 rows x 4 columns]

In [436]:
# export sched_df to scheduled_flights table to database
inflight.to_sql(name='flight_times',con=engine,if_exists='append',index=False)

Cancellation Codes

In [437]:
cancel_codes = pd.read_csv('/Users/amandalilly/Desktop/SQL/Group Project/L_CANCELLATION.csv_')
cancel_codes.head()

  Code          Description
0    A              Carrier
1    B              Weather
2    C  National Air System
3    D             Security

In [440]:
cancel_codes = cancel_codes.rename(columns={'Code':'cancellation_code','Description':'description'})
cancel_codes

  cancellation_code          description
0                 A              Carrier
1                 B              Weather
2                 C  National Air System
3                 D             Security

In [441]:
# push table to database
cancel_codes.to_sql(name='cancellation_codes', con=engine, if_exists='append', index=False)

Cancelled Flights

In [443]:
cancelled_flights = df2[df2['cancelled']==1]
cancelled_flights = cancelled_flights[['flight_id','cancelled','cancellation_code']]
cancelled_flights.head()

      flight_id  cancelled cancellation_code
35        12038          1                 A
838       11401          1                 A
2025      12872          1                 A
2026      12873          1                 A
2127      12762          1                 A

In [444]:
# drop duplicates
cancelled_flights = cancelled_flights.drop_duplicates()

In [445]:
# push table to database
cancelled_flights.to_sql(name='cancelled_flights', con=engine, if_exists='append', index=False)

Delayed Flights

In [446]:
delay_info = pd.read_csv('/Users/amandalilly/Desktop/SQL/Group Project/L_ONTIME_delay_groupS.csv_')
delay_info

    Code                       Description
0     -2               Delay < -15 minutes
1     -1  Delay between -15 and -1 minutes
2      0    Delay between 0 and 14 minutes
3      1    Delay between 15 to 29 minutes
4      2    Delay between 30 to 44 minutes
5      3    Delay between 45 to 59 minutes
6      4    Delay between 60 to 74 minutes
7      5    Delay between 75 to 89 minutes
8      6   Delay between 90 to 104 minutes
9      7  Delay between 105 to 119 minutes
10     8  Delay between 120 to 134 minutes
11     9  Delay between 135 to 149 minutes
12    10  Delay between 150 to 164 minutes
13    11  Delay between 165 to 179 minutes
14    12              Delay >= 180 minutes

In [454]:
delay_info = delay_info.rename(columns={'Code':'delay_group','Description':'group_description'})
delay_info

    delay_group                 group_description
0            -2               Delay < -15 minutes
1            -1  Delay between -15 and -1 minutes
2             0    Delay between 0 and 14 minutes
3             1    Delay between 15 to 29 minutes
4             2    Delay between 30 to 44 minutes
5             3    Delay between 45 to 59 minutes
6             4    Delay between 60 to 74 minutes
7             5    Delay between 75 to 89 minutes
8             6   Delay between 90 to 104 minutes
9             7  Delay between 105 to 119 minutes
10            8  Delay between 120 to 134 minutes
11            9  Delay between 135 to 149 minutes
12           10  Delay between 150 to 164 minutes
13           11  Delay between 165 to 179 minutes
14           12              Delay >= 180 minutes

In [455]:
delay_info.to_sql(name='delay_groups', con=engine, if_exists='append', index=False)

In [456]:
df2.head()

,fl_date,flight_id,carrier_id,carrier_abrv,tail_num,fl_num,airport_id,city_id,city_market_id,airport_abrv,city_name,state,crs_dep_time,dep_time,dep_delay,dep_delay_group,crs_arr_time,arr_time,arr_delay,delay_group,cancelled,cancellation_code,crs_elapsed_time,actual_elapsed_time,air_time,distance,distance_group,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,origin_status,status
0,2020-01-01,1,19393,WN,N951WN,5888,13891,1,32575,ONT,Ontario,CA,1810,1851,41,2,1945,2053,68,4,0,Z,95,122,74,363,2,8,0,27,0,33,Origin,delayed
1,2020-01-01,12062,19393,WN,N467WN,6276,13891,1,32575,ONT,Ontario,CA,1150,1146,-4,-1,1320,1318,-2,-1,0,Z,90,92,71,363,2,0,0,0,0,0,Origin,on-time
2,2020-01-01,12061,19393,WN,N7885A,4598,13891,1,32575,ONT,Ontario,CA,2020,2016,-4,-1,2130,2124,-6,-1,0,Z,70,68,57,333,2,0,0,0,0,0,Origin,on-time
3,2020-01-01,12060,19393,WN,N551WN,4761,13891,1,32575,ONT,Ontario,CA,1340,1350,10,0,1455,1505,10,0,0,Z,75,75,63,333,2,0,0,0,0,0,Origin,delayed
4,2020-01-01,12059,19393,WN,N968WN,5162,13891,1,32575,ONT,Ontario,CA,915,916,1,0,1035,1023,-12,-1,0,Z,80,67,57,333,2,0,0,0,0,0,Origin,on-time

Delayed Flights

In [458]:
delayed = df2[df2['status']=='delayed']
delayed = delayed[['flight_id','status','delay_group']]
delayed.head()

   flight_id   status  delay_group
0          1  delayed            4
3      12060  delayed            0
5      12058  delayed            0
7      12057  delayed            3
8      12055  delayed            0

In [459]:
# drop dups
delayed = delayed.drop_duplicates()

In [460]:
#push  to database
delayed.to_sql(name = 'delayed_flights', con=engine, if_exists='append', index=False)

Delay Causes

In [461]:
delay_causes = df2[['flight_id','weather_delay', 'security_delay', 'late_aircraft_delay', 'nas_delay', 'carrier_delay']]
delay_causes.head()

,flight_id,weather_delay,security_delay,late_aircraft_delay,nas_delay,carrier_delay
0,1,0,0,33,27,8
1,12062,0,0,0,0,0
2,12061,0,0,0,0,0
3,12060,0,0,0,0,0
4,12059,0,0,0,0,0

In [462]:
# add column for total delayed minutes
delay_causes['total_delay'] = delay_causes.iloc[:,2:].sum(axis=1)
delay_causes

/Users/amandalilly/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,flight_id,weather_delay,security_delay,late_aircraft_delay,nas_delay,carrier_delay,total_delay
0,1,0,0,33,27,8,68
1,12062,0,0,0,0,0,0
2,12061,0,0,0,0,0,0
3,12060,0,0,0,0,0,0
4,12059,0,0,0,0,0,0
...,...,...,...,...,...,...,...
1212387,592343,0,0,0,0,0,0
1212388,592342,0,0,0,0,0,0
1212389,592341,0,0,0,0,0,0
1212390,599274,0,0,0,16,0,16
1212391,606196,0,0,0,0,0,0

In [463]:
delay_causes = delay_causes.drop_duplicates()
delay_causes = delay_causes[['flight_id','total_delay', 'weather_delay', 'security_delay', 'late_aircraft_delay',
       'nas_delay', 'carrier_delay']]
delay_causes.head()

,flight_id,total_delay,weather_delay,security_delay,late_aircraft_delay,nas_delay,carrier_delay
0,1,68,0,0,33,27,8
1,12062,0,0,0,0,0,0
2,12061,0,0,0,0,0,0
3,12060,0,0,0,0,0,0
4,12059,0,0,0,0,0,0

In [464]:
#push to database
delay_causes.to_sql(name = 'delay_cause', con=engine, if_exists='append', index=False)

Fare Class Table

In [481]:
tickets = pd.read_csv('/Users/amandalilly/Desktop/SQL/Group Project/CSVs/ticket_info.csv')
tickets = tickets.drop('Unnamed: 0',axis=1)
tickets.head()

,ITIN_ID,MKT_ID,ORIGIN_AIRPORT_ID,ORIGIN_CITY_MARKET_ID,DEST_AIRPORT_ID,DEST_CITY_MARKET_ID,COUPON_TYPE,TICKET_CARRIER,PASSENGERS,FARE_CLASS,DISTANCE
0,202013,20201301,10135,30135,10397,30397,A,DL,3.0,X,692.0
1,202014,20201401,10135,30135,10397,30397,A,DL,1.0,X,692.0
2,202015,20201501,10135,30135,10397,30397,A,DL,1.0,X,692.0
3,202016,20201601,10135,30135,10397,30397,A,DL,1.0,X,692.0
4,202017,20201701,10135,30135,10397,30397,A,DL,1.0,X,692.0

In [516]:
tickets.columns = tickets.columns.str.lower()
tickets.head()

,itin_id,mkt_id,origin_airport_id,origin_city_market_id,dest_airport_id,dest_city_market_id,coupon_type,ticket_carrier,passengers,fare_class,distance
0,202013,20201301,10135,30135,10397,30397,A,DL,3.0,X,692.0
1,202014,20201401,10135,30135,10397,30397,A,DL,1.0,X,692.0
2,202015,20201501,10135,30135,10397,30397,A,DL,1.0,X,692.0
3,202016,20201601,10135,30135,10397,30397,A,DL,1.0,X,692.0
4,202017,20201701,10135,30135,10397,30397,A,DL,1.0,X,692.0

In [484]:
tickets.fare_class.isna().sum()

0

In [485]:
tickets.fare_class.value_counts()

X    7093124
Y     648955
D     183903
C      29339
F      18752
G      14674
U       5515
Name: fare_class, dtype: int64

In [486]:
#Create temporary dataframe with unique fare class 
temp_fareclass=pd.DataFrame(tickets.fare_class.unique(), columns=['fare_class'])

In [487]:
#Drop null values
temp_fareclass=temp_fareclass.dropna()

In [531]:
# assign descriptions
fareclass=['Economy - MileagePlus Saver', 'Full Fare First', 'Full Fare Business', 'Full Fare Economy', 'Discounted Economy', 'Discounted Business','Economy'] 
temp_fareclass['class_description']=fareclass

In [534]:
temp_fareclass.head()

  fare_class            class_description
0          X  Economy - MileagePlus Saver
1          F              Full Fare First
2          C           Full Fare Business
3          Y            Full Fare Economy
4          G           Discounted Economy

In [535]:
# export temp_fareclass to fareclass table to database
temp_fareclass.to_sql(name='fare_classes',con=engine,if_exists='append',index=False)

In [536]:
temp_fareclass.dtypes

fare_class           object
class_description    object
dtype: object

Tickets

In [492]:
fares = pd.read_csv('/Users/amandalilly/Desktop/SQL/Group Project/CSVs/760892547_T_DB1B_TICKET.csv')

In [537]:
fares.columns = fares.columns.str.lower()
fares.head()

   itin_id  itin_fare  unnamed: 2
0   202013      133.0         NaN
1   202014      151.0         NaN
2   202015      163.0         NaN
3   202016      164.0         NaN
4   202017      168.0         NaN

In [538]:
# Merge df, df3 on itin_id
ticket_fares = pd.merge(tickets, fares, on='itin_id', how='left')
ticket_fares.head()

,itin_id,mkt_id,origin_airport_id,origin_city_market_id,dest_airport_id,dest_city_market_id,coupon_type,ticket_carrier,passengers,fare_class,distance,itin_fare,unnamed: 2
0,202013,20201301,10135,30135,10397,30397,A,DL,3.0,X,692.0,133.0,NaN
1,202014,20201401,10135,30135,10397,30397,A,DL,1.0,X,692.0,151.0,NaN
2,202015,20201501,10135,30135,10397,30397,A,DL,1.0,X,692.0,163.0,NaN
3,202016,20201601,10135,30135,10397,30397,A,DL,1.0,X,692.0,164.0,NaN
4,202017,20201701,10135,30135,10397,30397,A,DL,1.0,X,692.0,168.0,NaN

In [539]:
ticket_fares = ticket_fares.drop('unnamed: 2',axis=1)
ticket_fares.isna().sum()

itin_id                  0
mkt_id                   0
origin_airport_id        0
origin_city_market_id    0
dest_airport_id          0
dest_city_market_id      0
coupon_type              0
ticket_carrier           0
passengers               0
fare_class               0
distance                 0
itin_fare                0
dtype: int64

In [540]:
carriers_df.head()

      carrier_id carrier_abrv
0          19393           WN
1064       20398           MQ
1365       20378           YV
1530       19690           HA
1729       20397           OH

In [541]:
# insert new column
ticket_fares = ticket_fares.merge(carriers_df, left_on = 'ticket_carrier', right_on = 'carrier_abrv', how='left')

In [542]:
ticket_fares.head()

,itin_id,mkt_id,origin_airport_id,origin_city_market_id,dest_airport_id,dest_city_market_id,coupon_type,ticket_carrier,passengers,fare_class,distance,itin_fare,carrier_id,carrier_abrv
0,202013,20201301,10135,30135,10397,30397,A,DL,3.0,X,692.0,133.0,19790,DL
1,202014,20201401,10135,30135,10397,30397,A,DL,1.0,X,692.0,151.0,19790,DL
2,202015,20201501,10135,30135,10397,30397,A,DL,1.0,X,692.0,163.0,19790,DL
3,202016,20201601,10135,30135,10397,30397,A,DL,1.0,X,692.0,164.0,19790,DL
4,202017,20201701,10135,30135,10397,30397,A,DL,1.0,X,692.0,168.0,19790,DL

In [543]:
# drop un-needed columns
ticket_fares = ticket_fares.drop(['mkt_id','ticket_carrier','carrier_abrv'],axis=1)

In [569]:
#drop dups
ticket_fares = pd.DataFrame(ticket_fares[['itin_id','carrier_id','itin_fare','fare_class','distance','passengers']])
ticket_fares = ticket_fares.drop_duplicates(subset='itin_id')
ticket_fares.head()

   itin_id  carrier_id  itin_fare fare_class  distance  passengers
0   202013       19790      133.0          X     692.0           3
1   202014       19790      151.0          X     692.0           1
2   202015       19790      163.0          X     692.0           1
3   202016       19790      164.0          X     692.0           1
4   202017       19790      168.0          X     692.0           1

In [570]:
ticket_fares['itin_id'].value_counts()

202011907046    1
202013596459    1
202013575969    1
20201883457     1
202013584165    1
               ..
20201138270     1
202011603021    1
20201130074     1
202011578433    1
202011753680    1
Name: itin_id, Length: 3274694, dtype: int64

In [571]:
ticket_fares.passengers=ticket_fares.passengers.astype(np.int64)

In [572]:
ticket_fares.head()

   itin_id  carrier_id  itin_fare fare_class  distance  passengers
0   202013       19790      133.0          X     692.0           3
1   202014       19790      151.0          X     692.0           1
2   202015       19790      163.0          X     692.0           1
3   202016       19790      164.0          X     692.0           1
4   202017       19790      168.0          X     692.0           1

In [575]:
# export tickets_fares to ticket_fares table to database
ticket_fares.to_sql(name='ticket_fares',con=engine,if_exists='append',index=False)